.mixin.out/
backups/
crash-reports/
dumps/
emojiful/
logs/
natives/
saves/
schematics/
screenshots/
local/ftbchunks/data/
debug/

resourcepacks/Quark*Programmer*Art.zip	
local/ftbutilities/backups.json
config.json
config.bak.json
config_new_temp.json
reauth.toml
usercache.json
usernamecache.json
WailaErrorOutput.txt
hs_err_pid*.log
