.mixin.out/
backups/
crash-reports/
dumps/
emojiful/
logs/
natives/
saves/
schematics/
screenshots/
local/ftbchunks/data/

local/ftbutilities/backups.json
config.json
reauth.toml
usercache.json
usernamecache.json
WailaErrorOutput.txt